<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/typo3/fluid/viewhelpers"
	xmlns:bootstrap="http://typo3.org/ns/TYPO3/Twitter/Bootstrap/ViewHelpers">

	<head>
		<meta charset="utf-8">
		<title><f:render section="Title" /></title>
		<f:base />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<bootstrap:include version="3" />

	</head>
	<body>
		<f:flashMessages class="flashmessages" />

		<div class="container">
			<h1><f:render section="Title" /></h1>

			<f:render section="Content" />
		</div>

	</body>
</html>