<html xmlns:f="http://typo3.org/ns/typo3/fluid/viewhelpers">
<f:layout name="Default"/>

<f:section name="Title">Documentation</f:section>

<f:section name="Content">
	<p>

	<table>
		<thead>
		<tr>
			<th>Title</th>
			<th>Path</th>
			<th>Repository type</th>
		</tr>
		</thead>
		<tbody>
		<f:for each="{documents}" as="document">

		<tr>
			<td>{document.title}</td>
			<td>{document.uri}</td>
			<td>{document.repositoryType}</td>
		</tr>


		</f:for>
		</tbody>
	</table>
	</p>
</f:section>
</html>