<html xmlns:f="http://typo3.org/ns/typo3/fluid/viewhelpers">
<f:layout name="Default"/>

<f:section name="Title">Documentation</f:section>

<f:section name="Content">

	<table class="table">
		<thead>
		<tr>
			<th>Title</th>
			<th>Path</th>
			<th>Type</th>
			<th>Repository type</th>
			<th>Message</th>
		</tr>
		</thead>
		<tbody>
		<f:for each="{documents}" as="document">

		<tr>
			<td>
				{document.title}
			</td>
			<td>
				<a href="{document.uri}/" target="_blank">{document.uri}/</a>
			</td>
			<td>
				{document.type}
			</td>
			<td>
				{document.repositoryType}
			</td>
			<td>
				<f:if condition="{document.isProcessing}">
					being processed
				</f:if>
			</td>
		</tr>

		</f:for>
		</tbody>
	</table>

</f:section>
</html>